# Build artifacts
build/**
.gradle/**

# Not strictly necessary, however, *.jar files are often ignored and this one is required by the Gradle wrapper.
!gradle/wrapper/gradle-wrapper.jar

# Editor settings
.idea/**
out/test/classes/StudentTest.class
out/production/classes/database/User.class
out/production/classes/database/DbConnect.class
out/production/classes/database/UserDao.class
out/production/classes/database/RegisterDao.class
out/production/classes/database/LoginDao.class
out/production/classes/Student.class
out/production/classes/HelloWorld.class
out/production/resources/views/MainMenu.fxml
out/production/resources/views/Level.fxml
out/production/resources/static/black-background.jpg
out/production/resources/Level1.txt
out/production/classes/player/Player.class
out/production/classes/player/AccountFactory.class
out/production/classes/level/MapParser.class
out/production/classes/level/LevelFactory.class
out/production/classes/level/Level.class
out/production/classes/ghosts/Sprite.class
out/production/classes/ghosts/GhostFactory.class
out/production/classes/ghosts/Ghost.class
out/production/classes/game/PacManApp.class
out/production/classes/game/GameFactory.class
out/production/classes/game/Game.class
out/production/classes/controllers/MainMenuController.class
out/production/classes/controllers/LevelController.class
out/production/classes/board/Direction.class
out/production/classes/board/Board.class
