# Build artifacts
build/**
.gradle/**

# Not strictly necessary, however, *.jar files are often ignored and this one is required by the Gradle wrapper.
!gradle/wrapper/gradle-wrapper.jar

# Editor settings
.idea/**
.out/**
out/production/classes/pacman/gui/graphics/boardCanvas.class
out/production/classes/pacman/gui/graphics/boardCanvas$1.class
out/production/classes/pacman/gui/graphics/Style.class
out/production/classes/pacman/gui/graphics/Sprite.class
out/production/classes/level/MapParser.class
out/production/classes/ghosts/Ghost.class
out/production/classes/game/PacManApp.class
out/production/classes/game/GameFactory.class
out/production/classes/game/Game.class
out/production/classes/database/UserDao.class
out/production/classes/database/User.class
out/production/classes/database/RegisterDao.class
out/production/classes/database/DbConnect.class
out/production/classes/controllers/MainMenuController.class
out/production/classes/board/Direction.class
out/production/classes/board/Board.class
out/production/resources/views/MainMenu.fxml
out/production/resources/static/black-background.jpg
out/production/resources/menuWindow.fxml
out/production/resources/loginWindow.fxml
out/production/classes/pacman/gui/graphics/PelletSprite.class
out/production/classes/pacman/gui/graphics/PacmanSprite.class
out/production/classes/pacman/gui/graphics/Entity.class
out/production/classes/pacman/Main.class
out/production/classes/level/Level.class
out/production/classes/ghosts/Sprite.class
out/production/classes/database/LoginDao.class
out/production/resources/Level1.txt
out/production/classes/player/Player.class
out/production/classes/pacman/gui/menuController.class
out/production/classes/pacman/gui/loginController.class
out/production/classes/ghosts/GhostFactory.class
